{% extends "base.html" %}
{% load static %} 

{% block title %}
    Category
{% endblock title %}

{% block main-content %}
    <div class="container my-5 text-center">
        <div class="row">
            
            <div class="col-md-12">
                <div class="row text-center">
                    {% for x in product %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <a href="{% url 'product-detail' pk=x.id %}" class="card-link">
                                <div class="card h-100">
                                    <img src="{{ x.product_image.url }}" class=" img-fluid p-2" alt="{{ x.title }}">
                                 </a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ x.title }}</h5>
                                        <div class="price-section">
                                            <span class="discounted-price">Rs.{{ x.discounted_price }}</span>
                                            <span class="original-price text-decoration-line-through">Rs.{{ x.selling_price }}</span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>   
{% endblock main-content %}
